<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable topbarmenu">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content class='redblackmenu'>
      <ion-list>
        <ion-item menu-close href="#/app/main">
          Main Menu
        </ion-item>
        <ion-item menu-close href="#/app/nac">
          DNA-mRNA-Protein<br>Converter
        </ion-item>
        <ion-item menu-close href="#/app/rsf">
          Restriction Site Finder
        </ion-item>
		<center><font align='center' size='2px'>v1.0.0.0</font></center><br>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
